name: release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  release:
    name: release ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-musl
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install cross
        uses: taiki-e/install-action@v2
        with:
          tool: cross

      - name: Compile and release
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: git-credential-store-pathprefix
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
